# generated SPASS source files
src/iaparser.c
src/iaparser.h
src/iascanner.c
src/tptpparser.c
src/tptpparser.h
src/tptpscanner.c

# intermediate SPASS files
src/*.o

# generated demo web app files
demo/bundle.js
demo/SPASS.wasm

# release build
release/*
