# generated SPASS source files
src/iaparser.c
src/iaparser.h
src/iascanner.c
src/tptpparser.c
src/tptpparser.h
src/tptpscanner.c

# intermediate SPASS files
src/*.o

# release build
release/*

# generated demo web app files
demo/bundle.js
demo/wasm/*
